<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visa.dogdays.quicktips">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>


    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true">

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:path="/" android:host="com.visa.dogdays.quicktips" android:scheme="myApp"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PopulateQRActivity"
            android:label="@string/title_activity_populate_qr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScanQRActivity"
            android:label="@string/title_activity_scan_qr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendFundsActivity"
            android:label="@string/title_activity_send_funds"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRInfoActivity"
            android:label="@string/title_activity_qrinfo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
